.deps {
  list-style: none;
  padding: 0 !important;
  font-size: 13px;
}
.deps > li {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}
.deps > li:last-child {
  border-bottom: none;
}
li.empty {
  opacity: 0.6;
}
.npmhub-anvaka {
  float: right;
  margin: 5px;
}
.deps:empty:before {
  content: "loading";
  padding: 10px;
  animation: npmhub-pulse 1s infinite;
}
@keyframes npmhub-pulse {
  50% {
    opacity : 0.5;
  }
}
