{
  "env": {
    "browser": true,
    "webextensions": true
  },
  "plugins": [
    "unicorn"
  ],
  "extends": [
    "xo-space",
    "plugin:svelte/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "no-new": "off",
    "import/no-unassigned-import": "off",
    "unicorn/better-regex": "off",
    "unicorn/filename-case": "off",
    "unicorn/prefer-top-level-await": "off"
  },
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "parser": "svelte-eslint-parser"
    }
  ],
  "ignorePatterns": [
    "Script.js"
  ]
}
