{
  "env": {
    "browser": true,
    "webextensions": true
  },
  "plugins": [
    "svelte3",
    "unicorn"
  ],
  "extends": [
    "xo-space",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "no-new": "off",
    "import/no-unassigned-import": "off",
    "unicorn/better-regex": "off",
    "unicorn/filename-case": "off",
    "unicorn/prefer-top-level-await": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 2,
        "maxEOF": 1
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.svelte"
      ],
      "processor": "svelte3/svelte3"
    }
  ],
  "ignorePatterns": [
    "Script.js"
  ]
}
